#match-result {
    width: 550px;
    margin: 5px 0px 20px 100px;
}
.even {
background-color: #DDDDDD;
}
.even #td-r {
border-bottom: 3px solid #DDDDAA;
}
.even #td-m {
border-bottom: 3px solid #DDDDAA;
}
.even #td-d {
border-bottom: 3px solid #DDDDAA;
}

#td-d {
    width: 150px;
    padding: 1px 1px;
}
#td-m {
    width: 300px;
    padding: 1px 1px;
}
#td-r {
    width: 50px;
    padding: 1px 1px;
}
table tr:hover {
background-color: #c00;
color: #fff;
cursor:url("/sport_bet/inc/spo61.cur"), pointer;
}